<form [formGroup]="form" class="mb-8 mt-24 mb-24" fxLayout="row wrap" fxLayoutGap="8px">

  <mat-form-field fxFlex>
    <mat-label>Order Type</mat-label>
    <mat-select formControlName="orderType">
      <mat-option *ngFor="let orderType of orderTypes" [value]="orderType.value">{{ orderType.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Order Number</mat-label>
    <input matInput formControlName="orderNo" name="orderNo"/>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="date" formControlName="date" name="date" required/>
    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
    <mat-datepicker #date></mat-datepicker>
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" name="description" type="number" [required]="form.get('currency').value"/>
  </mat-form-field>

</form>
