<div id="products">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">shopping_basket</mat-icon>
        <span class="logo-text h1">Products</span>
      </div>
      <!-- / APP TITLE -->

      <!-- ADD BUTTON -->
      <button mat-raised-button [routerLink]="'create-product'" class="add-product-button mt-24 mt-md-0">
        <span>Add New Product</span>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table class="products-table" #table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let product">
            <p class="text-truncate">{{product.id}}</p>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let product">
            <p class="text-truncate">{{product.name}}</p>
          </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>Category</mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <p class="category text-truncate">
              {{product.categories[0]}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Price</mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
            <p class="price text-truncate">
              {{product.priceTaxIncl | currency:'USD':'symbol'}}
            </p>
          </mat-cell>
        </ng-container>

        <!-- Quantity Column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-sm>

            <span class="quantity-indicator text-truncate"
                  [ngClass]="{'red-500':product.quantity <= 5, 'amber-500':product.quantity > 5 && product.quantity <= 25,'green-600':product.quantity > 25}">
            </span>
            <span>{{ product.quantity }}</span>

          </mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
            <mat-icon *ngIf="product.active" class="active-icon green-600 s-16">check</mat-icon>
            <mat-icon *ngIf="!product.active" class="active-icon red-500 s-16">close</mat-icon>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let product; columns: displayedColumns;"
                 class="product"
                 matRipple
                 (click)="goToProductDetail(product.id, product.handle)">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator
                     [length]="dataSource.data.length"
                     [pageIndex]="0"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
