<div id="product">

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

          <lib-dynamic-stepper [steps]="steps"
                               [currentStep]="currentStep"
                               [showGoBack]="true"
                               (goBack)="goBack()"
                               (gotoStep)="onGotoStep($event)"
                               (gotoNextStep)="gotoNextStep()"
                               (gotoPreviousStep)="gotoPreviousStep()">

            <div stepsHeader>
              <button mat-raised-button class="save-product-button"
                      [disabled]="productForm.invalid || productForm.pristine"
                      (click)="saveProduct()">
                <span>SAVE</span>
              </button>
            </div>

            <div stepsContent>
              <!-- STEP 1: Basic Info -->
              <div *ngIf="currentStep === 0">
                <div class="tab-content p-24">
                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Product Name</mat-label>
                    <input matInput placeholder="Product Name" name="name" formControlName="name" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Product Description</mat-label>
                    <textarea matInput placeholder="Product Description" name="description" formControlName="description" rows="5"></textarea>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                    <mat-label>Categories</mat-label>

                    <mat-chip-list #categoryList name="categories" formControlName="categories">

                      <mat-chip *ngFor="let category of product.categories" [removable]="false">
                        {{category}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>

                    </mat-chip-list>
                  </mat-form-field>

                </div>
              </div>
              <!-- / STEP 1 -->

              <!-- STEP 2: Pricing -->
              <div *ngIf="currentStep === 1">
                <div class="tab-content p-24">
                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Tax Excluded Price</mat-label>
                    <input matInput placeholder="Tax Excluded Price" name="priceTaxExcl" formControlName="priceTaxExcl" type="number">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Tax Included Price</mat-label>
                    <input matInput placeholder="Tax Included Price" name="priceTaxIncl" formControlName="priceTaxIncl" type="number">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Tax Rate</mat-label>
                    <input matInput placeholder="Tax Rate" name="taxRate" formControlName="taxRate" type="number">
                    <span matPrefix>&#37;&nbsp;</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Compared Price</mat-label>
                    <input matInput placeholder="Compared Price" name="comparedPrice" formControlName="comparedPrice" type="number">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>

                </div>
              </div>
              <!-- / STEP 2 -->

              <!-- STEP 3: Inventory -->
              <div *ngIf="currentStep === 2">
                <div class="tab-content p-24">
                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>SKU</mat-label>
                    <input matInput placeholder="SKU" name="sku" formControlName="sku">
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Quantity</mat-label>
                    <input matInput placeholder="Quantity" name="quantity" formControlName="quantity" type="number">
                  </mat-form-field>

                </div>
              </div>
              <!-- / STEP 3 -->

              <!-- STEP 4: Shipping -->
              <div *ngIf="currentStep === 3">
                <div class="tab-content p-24" fxLayout="column">
                  <div fxLayout="row" fxLayoutAlign="space-between">

                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                      <mat-label>Width</mat-label>
                      <input matInput placeholder="Width"
                             name="Width"
                             formControlName="width">
                      <span matSuffix>cm</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                      <mat-label>Height</mat-label>
                      <input matInput placeholder="Height"
                             name="Height"
                             formControlName="height">
                      <span matSuffix>cm</span>
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="30">
                      <mat-label>Depth</mat-label>
                      <input matInput placeholder="Depth"
                             name="Depth"
                             formControlName="depth">
                      <span matSuffix>cm</span>
                    </mat-form-field>

                  </div>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="Weight"
                           name="Weight"
                           formControlName="weight">
                    <span matSuffix>kg</span>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Extra Shipping Fee</mat-label>
                    <input matInput placeholder="Extra Shipping Fee"
                           name="extraShippingFee"
                           formControlName="extraShippingFee"
                           type="number">
                    <span matPrefix>$&nbsp;</span>
                  </mat-form-field>

                </div>
              </div>
              <!-- / STEP 4 -->
            </div>

          </lib-dynamic-stepper>

        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
