// Breakpoint mixins
@import "src/app/shared/breakpoints";

#product {
    .header {
        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {
        .mat-tab-group,
        .mat-tab-body-wrapper,
        .tab-content{
            flex: 1 1 auto;
            max-width: 100%;
        }

        .mat-tab-body-content {
            display: flex;
        }

        .mat-tab-label {
            height: 64px;
        }

        // Temporary prefix alignment fix
        .mat-form-field-appearance-outline .mat-form-field-prefix,
        .mat-form-field-appearance-outline .mat-form-field-suffix {
            top: 0;
        }
    }

}
