<div>

  <div fxLayout="row" fxLayoutAlign="start center">

    <div class="h1 p-16"> {{minutes}} : {{seconds}} :  {{millis}} </div>
    <!--div class="h1 mt-24 mb-24" fxFlex> {{seconds}} </div>
    <div class="h1 mt-24 mb-24" fxFlex> : </div>
    <div class="h1 mt-24 mb-24" fxFlex> {{millis}} </div-->

    <!--button mat-raised-button (click)="startTimer()" class="m-10">
      {{ startText }}
    </button>

    <button mat-raised-button (click)="clearTimer()" class="m-10">
      <span>Clear</span>
    </button-->

  </div>

</div>
