/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-size: 14px;

  .mat-icon {
    font-size: 20px;
  }
}

.mt-24 { margin-top: 24px; }
.mb-8  { margin-bottom: 8px; }
.mb-24 { margin-bottom: 24px; }
.p-16  { padding: 16px; }
.pr-8  { padding-right: 8px; }

.w-100-p {
  width: 100%!important;
}

mat-icon.s-32 {
  font-size: 32px!important;
  width: 32px!important;
  height: 32px!important;
  min-width: 32px!important;
  min-height: 32px!important;
  line-height: 32px!important;
}

.h1, h1 {
  font-size: 24px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
